{% if page.description %} {% set current_desc = page.description %} {% elif
page.summary %} {% set current_desc = page.summary | striptags |
truncate(length=160) %} {% elif page.content %} {% set current_desc =
page.content | striptags | truncate(length=160) %} {% else %} {% set
current_desc = config.extra.description %} {% endif %}
<!--  -->

{% if config.extra.title %} {% set config_title = " | " ~ config.extra.title%}
{% else %} {% set config_title = "" %} {% endif %} {% if page.title %} {% set
current_title = page.title ~ config_title %} {% elif section.title %} {% set
current_title = section.title ~ config_title %} {% else %} {% set current_title
= config_title %} {% endif %}

<!-- Standard Meta Tags -->
<title>{{ current_title }}</title>
<meta name="description" content="{{ current_desc }}" />
<meta name="author" content="{{ config.extra.author }}" />

<!-- Open Graph / Facebook / Discord Social Sharing -->
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ current_title }}" />
<meta property="og:description" content="{{ current_desc }}" />
<meta
  property="og:url"
  content="{{ current_url | default(value=config.base_url) }}"
/>
{% if page.extra.og_image %}
<meta property="og:image" content="{{ get_url(path=page.extra.og_image) }}" />
{% else %}
<meta property="og:image" content="{{ get_url(path=config.extra.og_image) }}" />
{% endif %}

<!-- Twitter Sharing Cards -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ current_title }}" />
<meta name="twitter:description" content="{{ current_desc }}" />
